@model Tuple<Imunizacija21.Models.CovidKarton, Imunizacija21.Models.Korisnik, IEnumerable<Bolest>>

@{
    ViewData["Title"] = "Create";
}

<link href="~/css/PrijavaStyle.css" rel="stylesheet" type="text/css" />



<h2>Zahtjev za vakcinaciju</h2>
<hr />

<div class="izgled">
    <h2 style="padding-top: 10px">Identifikacija</h2>
    <hr>
    <div class="flex">
        <div class="kolona-1">
            <div class="element-info">
                <label>Ime:</label>
                <label class="popunjeno informacije">@Html.DisplayFor(modelItem => Model.Item2.Ime)</label>
            </div>
            <div class="element-info">
                <label>Broj zdravstvene kartice:</label>
                <label class="popunjeno">@Html.DisplayFor(modelItem => Model.Item2.ZdravstvenaKartica)</label>
            </div>
            <div class="element-info">
                <label>Datum rođenja:</label>
                <label class="popunjeno">@Html.DisplayFor(modelItem => Model.Item2.DatumRodjenja)</label>
            </div>
            <div class="element-info">
                <label>Adresa:</label>
                <label class="popunjeno">@Html.DisplayFor(modelItem => Model.Item2.Adresa)</label>
            </div>
            <div class="element-info">
                <label>Zanimanje:</label>
                <label class="popunjeno">@Html.DisplayFor(modelItem => Model.Item2.Zanimanje)</label>
            </div>

        </div>
        <div class="kolona-2">
            <div class="element-info">
                <label>Prezime:</label>
                <label class="popunjeno">@Html.DisplayFor(modelItem => Model.Item2.Prezime)</label>
            </div>
            <div class="element-info">
                <label>JMBG:</label>
                <label class="popunjeno">@Html.DisplayFor(modelItem => Model.Item2.JMBG)</label>
                <div class="element-info">
                    @if (Model.Item2.IsMusko())
                    {
                        <input class="checkDugme" type="checkbox" name="name" checked onClick="return false;">
                    }
                    else
                    {
                        <input class="checkDugme" type="checkbox" name="name" onClick="return false;">
                    }
                    <label class="labelaCheck">M</label>
                    @if (Model.Item2.IsZensko())
                    {
                        <input class="checkDugme" type="checkbox" name="name" checked onClick="return false;">
                    }
                    else
                    {
                        <input class="checkDugme" type="checkbox" name="name" onClick="return false;">
                    }
                    <label class="labelaCheck">Z</label>
                </div>

                <div class="element-info">
                    <label>Kontakt telefon:</label>
                    <label class="popunjeno">@Html.DisplayFor(modelItem => Model.Item2.BrojTelefona)</label>
                </div>
            </div>
        </div>

        <div>
            <label>Lokalna zdravstvena ustanova:</label>
            <label class="popunjeno">@Html.DisplayFor(modelItem => Model.Item2.LokalnaZdravstvenaUstanova)</label>
        </div>
</div>
        <br>
        <br />


        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h2>Odabir vakcine</h2>
                    <hr>
                    <input type="radio" id="sve" name="vakcina" value="sve">
                    <label for="sve">Iskazujem interesovanje da primim bilo koju vrstu vakcine koju je odobrila Agencija za lijekove Bosne i Hercegovine</label><br>
                    <input type="radio" id="odredjena" name="vakcina" value="odredjena">
                    <label for="sve">Iskazujem interesovanje da primim određenu vrstu vakcine koju je odobrila Agencija za lijekove Bosne i Hercegovine:</label><br>
                    <label><input type="checkbox">Pfizer</label><br>
                    <label><input type="checkbox">AstraZeneca</label><br>
                    <label><input type="checkbox">Sputnik V</label><br>
                    <label><input type="checkbox">Sinopharm</label><br>
                    <label><input type="checkbox">Moderna</label><br>
                    <label><input type="checkbox">Sinovac Biotech</label><br>
                    <!--<div class="form-group">
                    <label asp-for="DatumZahtjeva" class="control-label"></label>
                    <input asp-for="DatumZahtjeva" class="form-control" />
                    <span asp-validation-for="DatumZahtjeva" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="OdobrenZahtjev" class="control-label"></label>
                            <input asp-for="OdobrenZahtjev" class="form-control" />
                            <span asp-validation-for="OdobrenZahtjev" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="StrucnaOsobaID" class="control-label"></label>
                            <input asp-for="StrucnaOsobaID" class="form-control" />
                            <span asp-validation-for="StrucnaOsobaID" class="text-danger"></span>
                        </div> -->
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
