@model IEnumerable<Imunizacija21.Models.StrucnaOsoba>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumRodjenja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JMBG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrojTelefona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LokalnaZdravstvenaUstanova)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ulogovan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumRodjenja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JMBG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojTelefona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LokalnaZdravstvenaUstanova)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ulogovan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
